### Current Health Expenditure & Life Expectancy Analysis

This project is an analysis of the Current Health Expenditure Per Capita in US$ and Life Expectancy across multiple countries.

In [143]:
# import dependencies
import pandas as pd
import numpy as np

In [145]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [147]:
# read in current health expenditure data set
che = pd.read_csv("data/current_health_expenditure.csv")
che.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,GHED_CHE_pc_US_SHA2011,Current health expenditure (CHE) per capita in...,numeric,AMR,Americas,Country,CUB,Cuba,Year,2021,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EN,2023-12-05T08:00:00.000Z
1,GHED_CHE_pc_US_SHA2011,Current health expenditure (CHE) per capita in...,numeric,AFR,Africa,Country,GHA,Ghana,Year,2021,...,NaN,NaN,NaN,NaN,NaN,100.00,NaN,NaN,EN,2023-12-05T08:00:00.000Z
2,GHED_CHE_pc_US_SHA2011,Current health expenditure (CHE) per capita in...,numeric,SEAR,South-East Asia,Country,MDV,Maldives,Year,2021,...,NaN,NaN,NaN,NaN,NaN,1038.67,NaN,NaN,EN,2023-12-05T08:00:00.000Z
3,GHED_CHE_pc_US_SHA2011,Current health expenditure (CHE) per capita in...,numeric,EUR,Europe,Country,BGR,Bulgaria,Year,2021,...,NaN,NaN,NaN,NaN,NaN,1040.02,NaN,NaN,EN,2023-12-05T08:00:00.000Z
4,GHED_CHE_pc_US_SHA2011,Current health expenditure (CHE) per capita in...,numeric,AMR,Americas,Country,ARG,Argentina,Year,2021,...,NaN,NaN,NaN,NaN,NaN,1044.77,NaN,NaN,EN,2023-12-05T08:00:00.000Z

In [149]:
print(che.isnull().sum())

IndicatorCode                    0
Indicator                        0
ValueType                        0
ParentLocationCode               0
ParentLocation                   0
Location type                    0
SpatialDimValueCode              0
Location                         0
Period type                      0
Period                           0
IsLatestYear                     0
Dim1 type                     4153
Dim1                          4153
Dim1ValueCode                 4153
Dim2 type                     4153
Dim2                          4153
Dim2ValueCode                 4153
Dim3 type                     4153
Dim3                          4153
Dim3ValueCode                 4153
DataSourceDimValueCode        4153
DataSource                    4153
FactValueNumericPrefix        4153
FactValueNumeric                19
FactValueUoM                  4153
FactValueNumericLowPrefix     4153
FactValueNumericLow           4153
FactValueNumericHighPrefix    4153
FactValueNumericHigh          4153
Value                           19
FactValueTranslationID        4153
FactComments                  4135
Language                         0
DateModified                     0
dtype: int64

In [151]:
che.drop(columns=['IndicatorCode', 'ValueType', 'ParentLocationCode', 'SpatialDimValueCode','Period type','IsLatestYear',
                        'Dim1 type', 'Dim1', 'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type', 'Dim3', 
                        'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource', 'FactValueNumericPrefix', 'FactValueNumeric',
                       'FactValueUoM', 'FactValueNumericLowPrefix', 'FactValueNumericLow', 'FactValueNumericHighPrefix',
                       'FactValueNumericHigh', 'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'], inplace=True)

In [153]:
che.head()

,Indicator,ParentLocation,Location type,Location,Period,Value
0,Current health expenditure (CHE) per capita in...,Americas,Country,Cuba,2021,NaN
1,Current health expenditure (CHE) per capita in...,Africa,Country,Ghana,2021,100.00
2,Current health expenditure (CHE) per capita in...,South-East Asia,Country,Maldives,2021,1038.67
3,Current health expenditure (CHE) per capita in...,Europe,Country,Bulgaria,2021,1040.02
4,Current health expenditure (CHE) per capita in...,Americas,Country,Argentina,2021,1044.77

In [155]:
che.rename(columns={'ParentLocation': 'Continent', 'Period':'Year', 'Value': 'Amount'}, inplace=True)

In [157]:
print(che.isnull().sum())

Indicator         0
Continent         0
Location type     0
Location          0
Year              0
Amount           19
dtype: int64

In [159]:
che.fillna({'Amount':0}, inplace = True)

In [161]:
print(che.isnull().sum())

Indicator        0
Continent        0
Location type    0
Location         0
Year             0
Amount           0
dtype: int64

In [163]:
che.head()

,Indicator,Continent,Location type,Location,Year,Amount
0,Current health expenditure (CHE) per capita in...,Americas,Country,Cuba,2021,0.00
1,Current health expenditure (CHE) per capita in...,Africa,Country,Ghana,2021,100.00
2,Current health expenditure (CHE) per capita in...,South-East Asia,Country,Maldives,2021,1038.67
3,Current health expenditure (CHE) per capita in...,Europe,Country,Bulgaria,2021,1040.02
4,Current health expenditure (CHE) per capita in...,Americas,Country,Argentina,2021,1044.77

In [165]:
# read in current health expenditure data set
hle = pd.read_csv("data/health_life_expectancy.csv")
hle.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,42.23,NaN,44.08,43.1 [42.2 – 44.1],NaN,NaN,EN,2024-08-02T07:00:00.000Z
1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,...,NaN,NaN,42.74,NaN,44.97,43.8 [42.7 – 45.0],NaN,NaN,EN,2024-08-02T07:00:00.000Z
2,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,LSO,Lesotho,Year,2021,...,NaN,NaN,43.66,NaN,45.76,44.6 [43.7 – 45.8],NaN,NaN,EN,2024-08-02T07:00:00.000Z
3,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,CAF,Central African Republic,Year,2021,...,NaN,NaN,44.26,NaN,46.48,45.4 [44.3 – 46.5],NaN,NaN,EN,2024-08-02T07:00:00.000Z
4,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),text,AFR,Africa,Country,SWZ,Eswatini,Year,2021,...,NaN,NaN,44.85,NaN,46.98,45.8 [44.8 – 47.0],NaN,NaN,EN,2024-08-02T07:00:00.000Z